# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

# config
alias zshconfig="subl ~/.zshrc"
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshconfig="subl ~/.zshrc"

# editor tools
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias s="subl ."
alias p="open app.sublime-project"

# server tools
alias server='open http://localhost:8000 && python -m SimpleHTTPServer'

# ember tools
alias ems='ember serve'
alias emt='ember test'
alias emtp='ember exam --split=3 --parallel'
alias emtr='ember exam --random'
alias emts='ember test --server'
alias emtsr='ember exam --server --random'
alias emtsc='COVERAGE=true ember test --server'

# dev tools
alias npm-reset='rm -rf node_modules && npm install'
alias start-project="bundle install && bower install && npm install"
alias reset-project="powder stop && spring stop && rails db:drop && rails db:create && rails db:schema:load && rails sample_data:load && powder start"

# chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# git stuff
alias g="git"
alias go="git open"
alias gs="git status"
alias gb="git branch"
alias gba="git branch -a"
alias gadd="git add -A"
alias gca="git commit -v -a -m"
alias gl="git pull"
alias glog="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset ' --abbrev-commit"

alias greset="git reset --hard HEAD~1"
alias gclean="git clean -f -d"

alias gbv="git branch -v -v"

alias gdc="git diff --name-only --diff-filter=U"

# git commit and push
push() {
  git add .
  git commit -m "$*"
  git push
}

# other cool stuff
alias emojis="open http://www.emoji-cheat-sheet.com/"
alias c="clear"

# install all the things

# Kills all processes running on the specified port (e.g. 'killport 8080')
killport() {
  lsof -i tcp:$1 | awk '(NR!=1) && ($1!="Google") && ($1!="firefox") {print $2}' | xargs kill
}

# Learn bash
# alias ?='cowsay -f $(ls /usr/share/cowsay/cows | shuf -n 1 | cut -d. -f1) $(whatis $(ls /bin) 2>/dev/null | shuf -n 1)'
