[user]
  name = Bruno Tarmann
  email = bruno@tarmann.com.br
[core]
  excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[url "https://github"]
  insteadOf = git://github
[init]
  templatedir = ~/.git_template
[push]
  default = current
